[submodule ".registry"]
	path = .registry
	url = https://github.com/birdscanada/birdscanada.r-universe.dev
	branch = HEAD
[submodule "motus"]
	path = motus
	url = https://github.com/MotusWTS/motus
[submodule "motusData"]
	path = motusData
	url = https://github.com/MotusWTS/motusData
[submodule "naturecounts"]
	path = naturecounts
	url = https://github.com/birdscanada/naturecounts
[submodule "rnaturalearthhires"]
	path = rnaturalearthhires
	url = https://github.com/ropensci/rnaturalearthhires
	registered = false
